# Ignore everything
*

# But track these directories
!bin/
!bin/**
!ghostty/
!ghostty/**
!nvim/
!nvim/**
!tmux/
!tmux/**
!mcp/
!mcp/**
!claude/
!claude/**
!rustfmt/
!rustfmt/**

# And these files
!.gitignore
!README.md
